notebooks/
*~
!notebooks/*.ipynb
!notebooks/*.py
data/
__pycache__/
tests_for_NOMAD.py
api_key
cellconfig.json
testlog.xml
test_matrix_neighbors_dict.json
*.out
*.log
unit_test_data/
!unit_test_data/test_backup.db
!unit_test_data/saved_matrix.csv
tutorials/.ipynb_checkpoints/
SimilarityDataFramework.egg-info
.pytest_cache
.cache
